
body {
    overflow: hidden;
	background-color: #ffffff;
	margin: 0;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('Raleway-Bold.ttf');
}

p {
    font-family: 'Raleway'; 
}
.panel-heading {
	background-image: url("bg2.png");
	top: 0px;
    width: 100%;
    margin: 0px;
}

.header-panel-item{
    width: 35%;
    display: inline-block;
}
.search-input-group{
    padding-top: 7%;
    padding-left: 2%;
    float: right;
    min-width: 250px;
}
.item-link, .active-user{
	font-family: "Raleway-Bold";
	text-decoration: none;
	color: rgb(240, 166, 18);
	padding: 20px;
}

.active-user {
    color: rgb(246, 200, 107);
    padding-bottom: 0px;
}

.header-right-item{
    float: right;
    display: inline-flex;
    padding-right:20px;
}
 .right-item{
    min-width: 434px;
} 

#searchHashtag{
    width: 220px;
    height: 20px;
    border-radius: 10px;
}

#fly {
	padding-top: 3%;
	padding-left: 5%;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    z-index: 0; /* Stay on top */
    left: 0;
    background-color: #454545;
    padding-top: 0vw;
}

.sidenav a {
    padding: 1.2vw 1.5vw 1.2vw 1.5vw;
    text-decoration: none;
	text-align: center;
    font-family: "Helvetica";
	font-size: 1vw;
    display: block;
	color: #ffffff;
}

.active, .tab:hover {
	background-color: #ef6c00;
}
	
.main {
	/* margin-top: 8vw; */
}

#posts, #users, #audience, #engagements {
	display: table;
	float: left;
	width: 25%;
	text-align: center;
	margin-bottom: 3.8vw;
}

#postsCount, #usersCount, #audienceCount, #engagementsCount {
	font-size: 3.5vw;
	color: #ef6c00;
	margin: 0;
	font-family: "Raleway";
}

#postsLabel, #usersLabel, #audienceLabel, #engagementsLabel {
	font-size: 1vw;
	margin-top: 1vw;
	color: #666666;
	font-family: "Helvetica";
}

#eng_title, #tl_title, #src_title, #comp_title, .influencer-name  {
	font-size: 1.5vw;
	font-family: "Raleway-Bold";
	color: #01579b;
	margin-left: 2vw;
}

#map {
	width: 100%;
	height: 400px;
	/* margin-left: 18vw; */
}

.profile-image{
    border-radius: 50%;
    border: 1px solid #ef6c00;
}

div.engagements {
	margin-left: 36px;
    border: 2px solid #1f77b4;
    padding: 0px;
}

div.followers {
	margin-left: 36px;
    border: 2px solid #1f77b4;
    padding: 0px;
}

.data-follower{
    margin-left:2vw;
}

.data-engagement{
    margin-left:2vw;
}

.username-text{
    font-size: 1.5vw;
	font-family: "Helvetica";
	color: #ef6c00;
}

svg.nvd3-svg{
	margin: 0px;
}

#content{
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    height: 76.5vh; /*82.5vh;*/
    /* padding-right: 10px; */
   
}

#footerSection{
    width: 100%; 
    /* height: auto; */
    bottom: 0;
    position: fixed;
}

#pointwestContainer{
    min-width: 150px;
    background-color: #FFF;
    display: table-cell;
    margin: 0;
    padding-top: 1.5%;
    padding-left: 9%;
    padding-bottom: 1%;

}

/*.right{
    float: right;
}
*/
#contactHelpContainer{
    background-color: #ef6c00;
    min-width: 500px;
    display: table-cell;
    margin: 0;
    padding-top: 1.5%;
    padding-left: 5%;
    padding-bottom: 1%; 
}

.pointwest-link, .contact-help-link{
    text-decoration: none;
    font-family: "Raleway-Bold";
}

.contact-help-link{
    color: #FFF; 
    margin-left: 40px; 
}

#poweredBy{
    margin-top: 200px;
}

.powered-by-text{
    color: #FFF;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
}

#pointwestLogo{
    margin-left: 60px;
}

#timelineContainer{
    /* padding-left: 260px; */
    border: 2px solid #1f77b4;
    width: 100%;
}

.follower-table, .engagement-table{
    width: 100%;
    border-spacing: 10px; 
}

/* td.follower-desc{
    border: 1px solid #000;
}

td.engagement-details{
    border: 1px solid #000;
} */

.follower-text-details{
    margin: 0;
    padding: 0;
}

.follower-img, .engagement-img{
    width: 30px;
}
#donut_chart_container{
   padding-left: 20px;
}

#src_title, #comp_title{
    width: 50%;
    }

.influencer-desc{
    width: 25%;
}

.influencer-data{
    margin: 0;
}

#influencer-data-container{
    /* margin: 25px; */
    border: 2px solid #1f77b4;
}

#inf_title{
    margin-left: 25px;
    font-size: 20px;
    color: grey;
}

/* sentiments */
 table.polarity-table{
    width: 400px;
    height: 120px;
} 

table.polarity-table, table.polarity-table td {
    border: 2px solid #000;
    border-collapse: collapse;
    text-align: center;
    text-transform: uppercase;
    font-family: "Helvetica";
    padding: 10px;
}

.polarity-table-heading{
    color: #ef6c00;
}

.topic-main-container{
   margin-bottom: 20px;
   margin-top: 20px;
   margin-left: 20px;
}

.topic-title{
    background-color: #1f77b4;
    border: 1px solid #1f77b4;
    color: #fbfaf9;
    padding: 10px;
    font-family: "Helvetica";
    font-weight: bold;
    width: 100%;
}

.topic-title-influencers{
    width: 100%;
    background-color: #1f77b4;
    border: 1px solid #1f77b4;
    color: #fbfaf9;
    padding: 10px;
    font-family: "Helvetica";
    font-weight: bold;
}

#polarityMapContainer{
    border: 2px solid #1f77b4;
    width: 100%;
}

#polarity_piechart_container{
    /* border: 1px solid #000; */
    display: inline-block;
    vertical-align: middle;
    width: auto;

}

div.polarity{
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.search-insights-input{
    background-color : rgb(238,238,238);
    border-radius: 5px;
    padding: 10px;
    width: 90%;
}

::-webkit-input-placeholder {
    font-style: italic;
 }

 .search-insight-container{
     width: auto;
     padding: 10px;
     margin-top: -10px;
 }

 /* influential posts */
.influencer-tweet{
    border: 1px solid #ef6c00;
}

p.influencer-data.influencer-name{
    color: #ef6c00;
}

/* topics */
#wordcloudImageContainer, #ldaContainer{
    border: 2px solid #1f77b4;
    width: 100%;
    margin-bottom: 3%;
}

#uploadImageContainer{
    width: auto;
    padding: 10px;
    margin-top: -10px;
}

#uploadImageFileBtn{
    border: 1px solid #000;
}

.cloud-topic-container{
    width: 80%;
} 

.top-hashtag-container{
    border: 2px solid #1f77b4;
    margin-bottom: 3%;
    width: 99.6%;

}
#multibarhorizontalchart_container{
    margin-left: 5px;
}

/* hide Serie 1 text */
.top-hashtag-container #multibarhorizontalchart_container .nv-series {
	/* display: none; */
}

.lda{
    /* margin-left: 300px; */
    margin-bottom: 40px;
    width: 100%;
}

/* diagnostics */
#QuickStatContainer{
    border: 2px solid #1f77b4;
    display: inline-block;
}

.timeline-topic-container{
    margin-top: 0;
}

.donut-chart-left{
    border: 2px solid #1f77b4;
    padding-right: 0px;
    padding-left:0px;
} 

.sources-title {
    width: 100%;
} 

.donut-chart-right{
    overflow-wrap: inherit;
    border: 2px solid #1f77b4;
    padding-right: 0px;
    padding-left: 0px;
}

.composition-title {
    width: 100%;
}

.location-topic-container{
    margin-top: 50px;
}

.wordcloud-image{
    width:100%;
}

/* loading page */
#loadingPage{
    z-index: 1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.loading-gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#loadingPage p{
    text-align: center;
}

#loadingPage img .loading-gif{
    text-align: center;
}

.loading-page-box{
    position: fixed;
    z-index: 999;
    height: 23em;
    width: 27em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    background-color: #ffffff;
}

/* Snackbar */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 83%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.burst {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

#snackbar.hide {
    visibility: hidden;
    -webkit-animation: fadeout 0.5s 2.5s;
    animation: fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


/* Bootstrap changes */

.row {
    margin-right: 0;
}


/* bar chart */

.bar {
    fill: #35978f;
  }
  
  
  
.bar:hover {
fill: #8c510a;
}

.axis {
font: 10px sans-serif;
}

.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

#hashtagChart {
display: block;
width: 100%;
height: 400px;
/* position: absolute; */
float: left;
}

.d3-tip {
line-height: 1;
font: 14px sans-serif;
padding: 12px;
background: rgba(0, 0, 0, 0.8);
color: rgb(185, 185, 185);
border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
box-sizing: border-box;
display: inline;
font-size: 10px;
width: 100%;
line-height: 1;
color: rgba(0, 0, 0, 0.8);
content: "\25BC";
position: absolute;
text-align: center;
}

.d3-tip.n:after {
margin: -1px 0 0 0;
top: 100%;
left: 0;
}


/* lda related */
#ldavis_el84844464070221763284634421, #ldavis_el84844464070221763284634421-top {
    width: 50% !important;
    min-width: auto !important;
}

#ldavis_el84844464070221763284634421-lambdaInput{
    float: none !important;
}

#topicsBody{
    min-width: 1000px;
    width: auto !important;
}

.save-warning, .load-warning{
    color: #ff0000;
}

.snapshot-choices{
    width: 10em;
}

.alerts{
    position: absolute;
    top: 10px;
    left: 20px;
    right: 20px;
    z-index: 9999;
}

body > #footerSection{
    max-width: 100%;
}

#imagePlaceholder {
    display: none;
}

.lda-topic-count{
    background: #e8e8e8;
}

/* #ldaPlaceholder{
    display: none;
} */