{% load staticfiles %}
{% load nvd3_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>TWITTER SEARCH</title>
</head>
<body>
	<div class="sidenav">
		<a id="d1" href="/diagnostics/">DIAGNOSTICS</a>
		<a href="/influencers/">INFLUENCERS</a>
		<a href="#influential posts">INFLUENTIAL POSTS</a>
		<a href="#sentiments">SENTIMENTS</a>
	</div>
	<div class="main">
		<div id="posts">
			<p id="postsCount">{{ engagements.tweets }}</p>
			<p id="postsLabel">POSTS</p>
		</div>
		<div id="users">
			<p id="usersCount">{{ engagements.users }}</p>
			<p id="usersLabel">USERS</p>
		</div>
		<div id="audience">
			<p id="audienceCount">{{ engagements.reach }}</p>
			<p id="audienceLabel">POTENTIAL AUDIENCE</p>
		</div>
		<div id="engagements">
			<p id="engagementsCount">{{ engagements.engagements }}</p>
			<p id="engagementsLabel">ENGAGEMENTS</p>
		</div>
		<div>
			{% include_chart_jscss %}
			{% load_chart timeline.charttype timeline.chartdata timeline.chartcontainer timeline.extra %}
			{% include_container timeline.chartcontainer %}
		</div>
	</div>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" type="text/css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js" type="text/css" rel="stylesheet">
	<link href="{% static 'css/stldg.css' %}" rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway"/>
	<style type="text/css"></style>
</body>
</html>