{% load staticfiles %} {% load nvd3_tags %}
<!DOCTYPE html>
<html>
<title>TWITTER SEARCH</title>

<head>
	<link href="{% static 'css/stldg.css' %}" rel='stylesheet' type='text/css'>
	<!-- <script src="{% static 'js/markerclusterer.js' %}" type='text/javascript'></script> -->
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<!-- <script>
		var imagePath = "{% static 'images/m1.png' %}";
	</script> -->
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVQ56jnIuK_Tj3bhVXLdaUk9aVkLi0GeY"></script>
	<script src="{% static 'js/diagnostics.js' %}" type='text/javascript'></script>
	<script src="{% static 'js/gmaps.js' %}" type='text/javascript'></script>
	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" type="text/css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js" type="text/css" rel="stylesheet">
</head>

<body>
	{% include 'loadingpage.html' %}
	<!--header -->
	<div class="panel-heading">
		{% include 'header.html'%}
	</div>

	<div id="content">
		<!-- sidebar -->
		{% include 'sidebar.html'%}

		<div class="topic-main-container">
			<div class="topic-title">QUICK STATISTICS</div>
			<div id="QuickStatContainer">
				<div id="posts">
					<p id="postsCount">{{ all_data.engagements.tweets }}</p>
					<p id="postsCount">{{ formattedData.engagements.tweets }}</p>
					<p id="postsLabel">POSTS</p>
				</div>
				<div id="users">
					<p id="usersCount">{{ all_data.engagements.users }}</p>
					<p id="usersLabel">USERS</p>
				</div>
				<div id="audience">
					<p id="audienceCount">{{ all_data.engagements.reach }}</p>
					<p id="audienceLabel">POTENTIAL AUDIENCE</p>
				</div>
				<div id="engagements">
					<p id="engagementsCount">{{ all_data.engagements.engagements }}</p>
					<p id="engagementsLabel">ENGAGEMENTS</p>
				</div>
				<div class="search-insight-container">
					<input type="text" id="quickStatisticsInsight" placeholder="Type insights here" class="search-insights-input">
				</div>
			</div>
		</div>

		<div class="topic-main-container timeline-topic-container">
			<div class="topic-title">TIMELINE</div>
			<div id="timelineContainer">
				{% include_chart_jscss %} 
				{% load_chart all_data.timeline.charttype all_data.timeline.chartdata all_data.timeline.chartcontainer all_data.timeline.extra %} 
				{% include_container all_data.timeline.chartcontainer 400 1150 %}
				<div class="search-insight-container">
					<input type="text" id="timelineInsight" placeholder="Type insights here" class="search-insights-input">
				</div>
			</div>
		</div>

		<div id="donut_chart_container">
			<div class="donut-chart-left">
				<div class="topic-title">SOURCES</div>
				{% load_chart all_data.source.charttype all_data.source.chartdata all_data.source.chartcontainer all_data.source.extra %}
				{% include_container all_data.source.chartcontainer 400 500 %}
				<div class="search-insight-container">
					<input type="text" id="sourcesInsight" placeholder="Type insights here" class="search-insights-input">
				</div>
			</div>
			<div class="donut-chart-right">
				<div class="topic-title">COMPOSITION</div>
				{% load_chart all_data.composition.charttype all_data.composition.chartdata all_data.composition.chartcontainer all_data.source.extra%} 
				{% include_container all_data.composition.chartcontainer 400 500 %}
				<div class="search-insight-container">
					<input type="text" id="compositionInsight" placeholder="Type insights here" class="search-insights-input">
				</div>
			</div>
		</div>
		<div class="topic-main-container location-topic-container">
			<div class="topic-title">LOCATIONS</div>
			<div id="map">

			</div>
			<div class="search-insight-container">
				<input type="text" id="locationsInsight" placeholder="Type insights here" class="search-insights-input">
			</div>
		</div>
	</div>

	{% include  'footer.html'%}
</body>
<script src="{% static 'js/dgn1.js' %}" type='text/javascript'></script>
</html>