{% load staticfiles %}
{% load nvd3_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>TWITTER SEARCH</title>
</head>
<body>
	<div class="panel-heading">
		<a href="#search.html" target="_blank">
			<img id="fly" src="{% static 'images/logo-light2.png' %}" height="50">
		</a>
	</div>
	<div id = "sn" class="sidenav">
		<a href="/diagnostics/" class="tab active">DIAGNOSTICS</a>
		<a href="/influencers/" class="tab">INFLUENCERS</a>
		<a href="/influentialposts/" class="tab">INFLUENTIAL POSTS</a>
		<a href="/topics/" class="tab">TOPICS</a>
		<a href="/sentiments/" class="tab">SENTIMENTS</a>
	</div>
	<div class="main">
		<p id="eng_title">ENGAGEMENTS</p>
		<div id="posts">
			<p id="postsCount">{{ engagements.tweets }}</p>
			<p id="postsLabel">POSTS</p>
		</div>
		<div id="users">
			<p id="usersCount">{{ engagements.users }}</p>
			<p id="usersLabel">USERS</p>
		</div>
		<div id="audience">
			<p id="audienceCount">{{ engagements.reach }}</p>
			<p id="audienceLabel">POTENTIAL AUDIENCE</p>
		</div>
		<div id="engagements">
			<p id="engagementsCount">{{ engagements.engagements }}</p>
			<p id="engagementsLabel">ENGAGEMENTS</p>
		</div>
		<div>
			<p id="tl_title">TIMELINE</p>
			{% include_chart_jscss %}
			{% load_chart timeline.charttype timeline.chartdata timeline.chartcontainer timeline.extra %}
			{% include_container timeline.chartcontainer %}
		</div>
		<p id="tl_title">LOCATIONS</p>
		<div id="map">
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVQ56jnIuK_Tj3bhVXLdaUk9aVkLi0GeY"></script>
	<script src="{% static 'js/dgn1.js' %}" type='text/javascript'></script>
	<script src="{% static 'js/gmaps.js' %}" type='text/javascript'></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" type="text/css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js" type="text/css" rel="stylesheet">
	<link href="{% static 'css/stldg.css' %}" rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway"/>
</body>
</html>