{% load staticfiles %}
<div class="row panel-heading">
    <div class="header-panel-item col-lg-2">
        <a href="#search.html" class="" target="_blank">
            <img id="fly" src="{% static 'images/logo-light2.png' %}" height="50">
        </a>
    </div>
    <div class="header-panel-item right-item col-lg-10" id="homeServicesItem">
            <div class="header-right-item">
                <a href="#" class="item-link">Home</a>
                <a href="#" class="item-link">Services</a>
                
                        <form id="searchForm" class="form-wrapper cf" action="/" method="post">
                            <!-- <input type="text" placeholder="Search #hashtag" id="searchHashtag"> -->
                            <div class="form-group ">
                                    <div class="input-group mb-3 search-input-group">
                            {% csrf_token %} {{form}}
                            <div class="input-group-append">
                            <button type="submit" id="searchAgainButton">Search</button>
                        </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>