{% load staticfiles %}
<!DOCTYPE html>
<html>
		<title>TWITTER SEARCH</title>
<head>
	<link href="{% static 'css/stldg.css' %}" rel='stylesheet' type='text/css'>
	<script src="{% static 'js/dgn1.js' %}" type='text/javascript'></script>
</head>

<body>
	<div class="sidenav">
			<a href="{% url 'diagnostics' %}" class="tab">DIAGNOSTICS</a>
			<a href="{% url 'influencers' %}" class="tab active">INFLUENCERS</a>
			<a href="{% url 'influentialposts' %}" class="tab">INFLUENTIAL POSTS</a>
			<a href="{% url 'topics' %}" class="tab">TOPICS</a>
			<a href="{% url 'sentiments' %}" class="tab">SENTIMENTS</a>
	</div>
	<div class="main">
		<!-- Followers -->
		<div class="followers">
		<h5>BY NUMBER OF FOLLOWERS</h5>
				{% for key, values in folData.items %}
				<table class="follower-table">
					<td class="follower-img">
						<img src="{{values.profileimage}}" height="100px" width="100px" />
					</td>
					<td class="follower-desc">
						<p>{{values.name}}</p>
						<p>USERNAME: {{values.username}}</p>
						<p>FOLLOWERS: {{values.followers}}</p>
						<p>POSTS: {{values.post}}</p>
						<p>LIKES: {{values.favorites}}</p>
						<p>RETWEET: {{values.retweets}}</p>
					</td>
				</table>
				{% endfor %}
			</div>
		<!-- engagements -->
		<div class="engagements">
			<h5>BY ENGAGEMENTS GAINED</h5>
			{% for key, values in engData.items %}
			<table class="engagement-table">
				<td class="engagement-img">
					<img src="{{values.profileimage}}" height="100px" width="100px" />
				</td>
				<td>
					<p>{{values.name}}</p>
					<p>USERNAME: {{values.username}}</p>
					<p>FOLLOWERS: {{values.followers}}</p>
					<p>POSTS: {{values.post}}</p>
					<p>LIKES: {{values.favorites}}</p>
					<p>RETWEET: {{values.retweets}}</p>
				</td>
			</table>
			{% endfor %}
		</div>
	</div>
</body>

</html>