{% load staticfiles %}
<!DOCTYPE html>
<html>
<title>TWITTER SEARCH</title>

<head>
	<link href="{% static 'css/stldg.css' %}" rel='stylesheet' type='text/css'>
	<script src="{% static 'js/dgn1.js' %}" type='text/javascript'></script>
</head>

<body>

	<!--header -->
	<div class="panel-heading">
			{% include  'header.html'%}
	</div>

	<!--body -->
	<div id="content">
		<!-- sidebar -->
		{% include 'sidebar.html'%}
		<div class="topic-main-container">
			<!-- Followers -->
			<div class="followers">
				<div class="topic-title">BY NUMBER OF FOLLOWERS</div>
				{% for key, values in folData.items %}
				<table class="follower-table">
					<td class="follower-img">
						<img src="{{values.profileimage}}" class="profile-image" height="100px" width="100px" />
					</td>
					<td class="follower-desc">
						<p class="follower-text-details username-text">
								{{values.name}}
						</p>
						<p class="follower-text-details">USERNAME:
							<em>{{values.username}}</em>
						</p>
						<p class="follower-text-details">FOLLOWERS: {{values.followers}}</p>
						<p class="follower-text-details">POSTS: {{values.post}}</p>
						<p class="follower-text-details">LIKES: {{values.favorites}}</p>
						<p class="follower-text-details">RETWEET: {{values.retweets}}</p>
					</td>
				</table>
				{% endfor %}
			</div>
			<!-- engagements -->
			<div class="engagements">
				<div class="topic-title">BY ENGAGEMENTS GAINED</div>
				{% for key, values in engData.items %}
				<table class="engagement-table">
					<td class="engagement-img">
						<img src="{{values.profileimage}}" height="100px" width="100px" class="profile-image" />
					</td>
					<td class="engagement-details">
						<p class="follower-text-details username-text">
								{{values.name}}
						</p>
						<p class="follower-text-details">USERNAME:
							<em>{{values.username}}</em>
						</p>
						<p class="follower-text-details">FOLLOWERS: {{values.followers}}</p>
						<p class="follower-text-details">POSTS: {{values.post}}</p>
						<p class="follower-text-details">LIKES: {{values.favorites}}</p>
						<p class="follower-text-details">RETWEET: {{values.retweets}}</p>
					</td>
				</table>
				{% endfor %}
			</div>
		</div>
	</div>

	{% include  'footer.html'%}
</body>

</html>