{% load staticfiles %}
<!DOCTYPE html>
<html>
		<title>TWITTER SEARCH</title>
<head>
	<link href="{% static 'css/stldg.css' %}" rel='stylesheet' type='text/css'>
</head>
<body>
	<!--header -->
	<div class="panel-heading">
			<div class="header-panel-item">
				<a href="#search.html" class="" target="_blank">
					<img id="fly" src="{% static 'images/logo-light2.png' %}" height="50">
				</a>
			</div>
			<div class="header-panel-item right-item" id="homeServicesItem">
				<a href="#" class="item-link">Home</a>
				<a href="#" class="item-link">Services</a>
				<!-- <form method="post"> -->
			 <!-- </form> -->
            <form id="searchForm" class="form-wrapper cf" action="/diagnostics/" method="post">
    				<input type="text" placeholder="Search #hashtag" id="searchHashtag">
    				{% csrf_token %}
    				<button type="submit" id="searchButton">Search</button>
    			</form>
			</div>
		</div>
		<!-- sidebar -->
		{% include  'sidebar.html'%}
	<div class="main">
    	<p id="inf_title">BY ENGAGEMENTS</p>
    	<div id="influencer-data-container">
    	
    	<table class="follower-table">
            {% for key, values in influentialPost.items %}
            <tr>
					<td class="influencer-img">
						<img src="{{ values.profileimage }}" height="100px" width="100px" />
					</td>
					
					<td class="influencer-desc">
						<p class="influencer-data influencer-name">{{ values.name }}</p>
                	<p class="influencer-data">USERNAME: {{ values.username }}</p>
                	<p class="influencer-data">RETWEET: {{ values.retweets }}</p>
                	<p class="influencer-data">LIKES: {{ values.favorites }}</p>
					</td>
					<td class="influencer-tweet">
    					<p>{{ values.tweet }}</p>
					</td>
				</tr>
				{% endfor %}
			</table>
    	</div>
	</div>
</body>

</html>