{% load staticfiles %}
<!DOCTYPE html>
<html>
<title>Twitter Search</title>
<head>
	<link rel='stylesheet' type='text/css' href="{% static 'css/stlsrch.css' %}">
</head>
<body>
	<div id="all" class="panel panel-default">
		<div class="panel-heading">
			<a href="#HOME" target="_blank">
				<img id="fly" src="{% static 'images/logo-light2.png' %}" height="50">
			</a>
		</div>
		<div class="panel-body">
			<div id="main">
				<form id="searchForm" class="form-wrapper cf" action="/" method="post">
					<span id="twt" class="thicker">Twitter </span>
					<span id="hs">#Hashtag Search</span>
					<p id="sub">Track hashtag campaigns easier.	</p>
					{% csrf_token %}
					{{form}}
					<button type="submit" id="searchButton">Search</button>
				</form>
			</div>
		</div>
		<div class="navbar">
			<a href="https://www.pointwest.com.ph" target="_blank" class="pw">POINTWEST</a>
			<a href="https://pointwest.com.ph/contact/" target="_blank" class="oth">CONTACT</a>
			<a href="#HELP" target="_blank" class="oth">HELP</a>
		</div>
	</div>
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	{% block javascript %}{% endblock %}
</body>
</html>