{% load staticfiles %}
<!DOCTYPE html>
<html>
		<title>TWITTER SEARCH</title>
<head>
	<link href="{% static 'css/stldg.css' %}" rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="sidenav">
			<a href="{% url 'diagnostics' %}" class="tab">DIAGNOSTICS</a>
			<a href="{% url 'influencers' %}" class="tab">INFLUENCERS</a>
			<a href="{% url 'influentialposts' %}" class="tab">INFLUENTIAL POSTS</a>
			<a href="{% url 'topics' %}" class="tab">TOPICS</a>
			<a href="{% url 'sentiments' %}" class="tab active">SENTIMENTS</a>
	</div>
	<div class="main">

	</div>
</body>
</html>