{% load staticfiles %}
<!DOCTYPE html>
<html>
<title>TWITTER SEARCH</title>

<head>
	<link href="{% static 'css/stldg.css' %}" rel='stylesheet' type='text/css'>
</head>

<body>
	<!--header -->
	<div class="panel-heading">
		<div class="header-panel-item">
			<a href="#search.html" class="" target="_blank">
				<img id="fly" src="{% static 'images/logo-light2.png' %}" height="50">
			</a>
		</div>
		<div class="header-panel-item right-item" id="homeServicesItem">
			<a href="#" class="item-link">Home</a>
			<a href="#" class="item-link">Services</a>
			<!-- <form method="post"> -->
			<input type="text" placeholder="Search #hashtag" id="searchHashtag">
			<!-- </form> -->
		</div>
	</div>

	<div id="content">
		<!-- sidebar -->
		{% include 'sidebar.html'%}
		<div class="topic-main-container cloud-topic-container">
			<div class="topic-title">WORDCLOUD</div>
			<div id="wordcloudImageContainer">
				<img src="{% static 'images/wordcloud.png' %}" />
				<div id="uploadImageContainer">
					<!-- 						<label class="image-file-upload">
								<input type="file" accept="image/*"/>
								Upload image
							</label> -->
					<input type="file" name="uploadImageFileBtn" id="uploadImageFileBtn" accept="image/x-png,image/gif,image/jpeg" />
				</div>
				<div class="search-insight-container">
					<input type="text" placeholder="Type insights here" class="search-insights-input">
				</div>
				<!-- <div id='wordcloud'></div>
		<script>
		  d3.wordcloud()
			.size([800, 400])
			.selector('#wordcloud')
			.words([{text: 'word', size: 5}, {text: 'cloud', size: 15}])
			.start();
		</script> -->
			</div>
		</div>

		<div class="lda">
			<div class="topic-title">TOPICS</div>
			<div id="wordcloudImageContainer">
				{% include 'lda.html' %}
				<div class="search-insight-container">
					<input type="text" placeholder="Type insights here for topic 1" class="search-insights-input">
				</div>
				<div class="search-insight-container">
					<input type="text" placeholder="Type insights here for topic 2" class="search-insights-input">
				</div>
				<div class="search-insight-container">
					<input type="text" placeholder="Type insights here for topic 3" class="search-insights-input">
				</div>
				<div class="search-insight-container">
					<input type="text" placeholder="Type insights here for topic 4" class="search-insights-input">
				</div>
			</div>
		</div>
	</div>

	<div id="footerSection">
		<div id="pointwestContainer">
			<a href="#" class="pointwest-link right">Pointwest</a>
		</div>
		<div id="contactHelpContainer">
			<a href="#" class="contact-help-link">Contact</a>
			<a href="#" class="contact-help-link">Help</a>
		</div>
	</div>
</body>

</html>