{% load staticfiles %}
<!DOCTYPE html>
<html>
<title>TWITTER SEARCH</title>

<head>
	<link href="{% static 'css/stldg.css' %}" rel='stylesheet' type='text/css'>
</head>

<body>
	<!--header -->
	<div class="panel-heading">
			{% include  'header.html'%}
		</div>
	<!-- sidebar -->
		{% include  'sidebar.html'%}
	<div class="main">
			<div class="topic-main-container cloud-topic-container">
					<div class="topic-title">WORDCLOUD</div>
					<div id="wordcloudImageContainer">
		{% with 'images/wordcloud/wordcloud-'|add:sessionid|add:'.png' as wordcloud_image %}
		<img src="{% static wordcloud_image %}"/>
		{% endwith %}
		<div id="uploadImageContainer">
			<!-- 						<label class="image-file-upload">
						<input type="file" accept="image/*"/>
						Upload image
					</label> -->
			<input type="file" name="uploadImageFileBtn" id="uploadImageFileBtn" accept="image/x-png,image/gif,image/jpeg" />
		</div>
		<div class="search-insight-container">
			<input type="text" placeholder="Type insights here" class="search-insights-input">
		</div>
		<!-- <div id='wordcloud'></div>
		<script>
		  d3.wordcloud()
			.size([800, 400])
			.selector('#wordcloud')
			.words([{text: 'word', size: 5}, {text: 'cloud', size: 15}])
			.start();
		</script> -->
			</div>
		</div>

		<div class="lda">
			<div class="topic-title">TOPICS</div>
			<div id="wordcloudImageContainer">
				{% with 'lda-'|add:sessionid|add:'.html' as lda_page %}
				{% include 'lda/'|add:lda_page %}
				{% endwith %}
				<div class="search-insight-container">
					<input type="text" placeholder="Type insights here for topic 1" class="search-insights-input">
				</div>
				<div class="search-insight-container">
					<input type="text" placeholder="Type insights here for topic 2" class="search-insights-input">
				</div>
				<div class="search-insight-container">
					<input type="text" placeholder="Type insights here for topic 3" class="search-insights-input">
				</div>
				<div class="search-insight-container">
					<input type="text" placeholder="Type insights here for topic 4" class="search-insights-input">
				</div>
			</div>
		</div>
	</div>
	{% include  'footer.html'%}
</body>

</html>