<!DOCTYPE html>
<html>
<head>
    <title>TWITTER SEARCH</title>
</head>
<body>
	<div class="sidenav">
		<a href="/diagnostics/" class="tab">DIAGNOSTICS</a>
		<a href="/influencers/" class="tab">INFLUENCERS</a>
        <a href="/influentialposts/" class="tab">INFLUENTIAL POSTS</a>
        <a id="d1" href="/topics/" class="tab active">TOPICS</a>
		<a href="/sentiments/" class="tab">SENTIMENTS</a>
	</div>
	<div class="main">

	</div>
	<script src="onmain.js" type='text/javascript'></script>
	<link href='stlinfl.css' rel='stylesheet' type='text/css'>
	<style type="text/css"></style>
</body>
</html>